html{color:#000;
background-color:#333;
		padding:20px 0;
		font: 12px/18px "맑은 고딕", "Malgun Gothic", "굴림", "Gulim", Verdan, Arial, Tahoma;
}


#wrap{width:960px; height:auto; margin:0 auto;}
#head{width:960px;}

#logo{ display:inline;}

#sign_up{ display:inline; float:right; color:#999;}
#sign_up a:hover, a:active {color:#999; text-decoration:underline;}
#sign_up a:visited, a:link {color:#999;text-decoration:none;}

#body{width:960px;}

#main_contents{ background-image:url(../img/contents_bg.jpg); width:960px; height:480px;}

#search{ width:400px;
position:absolute; top:150px; left:250px; padding:5px; 
border-width:10px; border-color:#333; border-style:solid; background-color:#FFF;}

#search input.submit{ width:30px; height:30px;
border-style:none; background-image:url(../img/Untitled-4.gif); background-color:transparent;}

#search input.text{height:30px; border-style:none; margin-right:10px;}



#foot{width:960px;}
#information{color:#999; text-align:center;}